footer {
  grid-area: footer;
  font-weight: bold;
}

.footer {
  background-color: $color__green--dark;
  background-image: linear-gradient(
    to right,
    $color__green--dark,
    $color__green--mid
  );
  height: 100%;
  padding: 2%;
  margin: 2%;
  align-items: center;
  &__section {
    color: $color__red--dark;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 20px;
    padding: 5px;
    right: 25px;
    &--p {
      font-size: 15px;
    }
  }
}
