.main-acerca-de {
  background-color: $color__red--dark;
  background-image: linear-gradient(
    to right,
    $color__red--dark,
    $color__red--light
  );
  background-repeat: no-repeat;
  display: block;
  padding: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px black;
  &__title {
    color: $color__gray--dark;
    font-style: normal;
    font-size: 35px;
    margin: 40px 20px 20px 20px;
    @include mobile {
      font-size: 27px;
    }
  }
  &__text {
    color: $color__gray--light;
    text-decoration: none;
    font-style: normal;
    font-size: 1rem;
    margin: 20px 20px 40px 20px;
    @include mobile {
      font-size: 0.7rem;
    }
  }
  &__img {
    margin: 5%;
    height: 500px;
    width: 270px;
    @include mobile {
      margin: 1%;
      height: 275px;
      width: 150px;
    }
  }
  @include mobile {
    text-align: left;
    padding: 1%;
  }
}
