$color__red--dark: #5a1807;
$color__red--light: #ba181b;
$color__green--light: #a7d49b;
$color__green--mid: #92ac86;
$color__green--dark: #696047;
$color__gray--light: #b1a7a6;
$color__gray--mid: #9b9b9b;
$color__gray--dark: #888888;
